@import url('https://fonts.googleapis.com/css?family=Ruslan+Display&display=swap');

.container {
    display: flex;
    justify-content: space-between;
}

.movie-container {
    height: 100px;
}

.background-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index:-1;
}

.suggestion:hover {
    background: red;
}